* {
    margin: 0px;
    padding: 0px;
}

/* nav bar */
.right {
    float: right;
    margin-right: 20px;
    padding: 10px 8px 10px 8px;
}

.left {
    float: left;
    margin-left: 30px;

}

#nav {
    display: block;
    background-color: white;
    display: inline-block;
    width: 98vw;
    border: none;
    border-radius: 5px;
    margin: 6px;
}

/* main section */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}

#quizBody {
    text-align: center;
    padding: 12vh;
}

a {
    text-decoration: none;
    color: black;
}    

button {
    border: 1.5px solid black;
    background-color: #62eda5;
    color: rgb(8, 134, 6);
    border-radius: 5px;
    box-shadow: 3px 3px 4px gray;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: 'Roboto Slab', arial;
    margin: 4px;
    cursor: pointer;

}

button:hover {
    transition-duration: 0.4s;
    background-color: #149b5c;
    color: white;
}

#quiz {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 2rem;
    
}